* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.25px;
  background-color: #fff;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  appearance: none;
}

input,
textarea {
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
}

input[type=button] {
  cursor: pointer;
  appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat-SemiBold", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  position: relative;
  outline: none;
}
a:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #000;
  transition: 300ms;
}
a:hover:after, a:focus:after {
  width: 100%;
}
@media (max-width: 768px) {
  a:after {
    display: none;
  }
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.content {
  display: flex;
  flex-basis: 100%;
  height: calc(100vh - 110px);
}
@media (max-width: 768px) {
  .content {
    height: calc(100vh - 60px);
  }
}

.wrapper {
  flex-basis: 100%;
  padding: 30px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.wrapper::-webkit-scrollbar {
  width: 7px;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #828282;
  outline: none;
}
@media (max-width: 1100px) {
  .wrapper {
    flex-basis: 100%;
    padding: 30px 30px 0 30px;
  }
}

.title {
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 30px 0;
  color: #b90000;
}
@media (max-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 20px 0;
}
.subtitle:nth-child(4) {
  margin: 50px 0 20px 0;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .subtitle:nth-child(3) {
    margin: 0 0 20px 0;
  }
}

.close {
  background-color: #fff;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: 200ms;
}
.close:hover {
  transform: scale(1.2);
}
.close img {
  width: 100%;
}

.header {
  display: flex;
  flex-basis: 100%;
  background-color: #000;
  justify-content: space-between;
  padding: 10px 40px;
  height: 110px;
}
.header__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 0 0 15px;
}
.header__photo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header__photo img {
  border-radius: 50%;
  object-fit: cover;
}
.header__profile {
  display: flex;
  align-items: center;
}
.header__profile_hidden {
  display: none;
}
.header__profile:hover .header__name a:after {
  width: 100%;
}
.header__name a {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
.header__name a:after {
  background-color: #fff;
}
.header .logo {
  flex-basis: 250px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px;
    height: 60px;
  }
  .header .logo {
    flex-basis: 140px;
  }
  .header__photo {
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
  }
  .header__name a {
    font-size: 12px;
    line-height: 12px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  border-right: 2px solid #000;
  min-width: 320px;
}
.sidebar .close {
  display: none;
}
@media (max-width: 1100px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 110px;
    width: 100%;
    height: calc(100vh - 110px);
    background-color: #fff;
    transition: 200ms;
    opacity: 0;
    z-index: -1;
    border-right: none;
    min-width: 100%;
  }
  .sidebar.sidebar_open {
    z-index: 4;
    opacity: 1;
  }
  .sidebar .close {
    display: block;
  }
}
@media (max-width: 768px) {
  .sidebar {
    height: calc(100vh - 60px);
    top: 60px;
  }
}

.menu-list {
  padding: 0 60px 20px 60px;
}
@media (max-width: 1100px) {
  .menu-list {
    padding: 20px 30px;
  }
}
.menu-item {
  margin: 30px 0;
}
@media (max-width: 1100px) {
  .menu-item {
    margin: 20px 0;
  }
}
.menu-link {
  font-size: 34px;
  line-height: 38px;
  position: relative;
  padding: 0 0 3px 0;
}
.menu-link_active {
  color: #b90000;
}
.menu-link_active:after {
  background-color: #b90000;
}
@media (max-width: 768px) {
  .menu-link {
    font-size: 24px;
    line-height: 28px;
  }
}

.money-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 0 0;
  background-color: #000;
  padding: 30px 10px;
  color: #fff;
}
.money-account_title {
  font-size: 18px;
  line-height: 18px;
}
.money-account_sum {
  font-size: 20px;
  line-height: 20px;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (max-width: 768px) {
  .money-account {
    padding: 20px;
  }
  .money-account_title {
    font-size: 16px;
    line-height: 16px;
  }
  .money-account_sum {
    font-size: 20px;
    line-height: 20px;
  }
}

.button-open-sidebar {
  display: none;
  position: fixed;
  left: 0;
  border: none;
  background-color: #000;
  width: 40px;
  height: 30px;
  z-index: 3;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/burger.svg");
  top: 130px;
}
@media (max-width: 1100px) {
  .button-open-sidebar {
    display: block;
  }
}
@media (max-width: 768px) {
  .button-open-sidebar {
    top: 70px;
  }
}

.form {
  display: flex;
}
.form__item {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 0;
  position: relative;
}
.form__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  margin: 0 0 5px 5px;
  font-family: "Montserrat-SemiBold", sans-serif;
}
@media (max-width: 768px) {
  .form__label {
    font-size: 14px;
    line-height: 14px;
  }
}
.form__label.required:after {
  content: "*";
  color: #b90000;
  margin: 0 0 0 3px;
}
.form__notice {
  color: #a1a1a1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0 0 0 3px;
}
.form__wrapper-file {
  padding: 10px;
  border: 2px solid black;
  height: 50px;
  margin: 0 0 30px 0;
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.form__wrapper-file .form__label {
  margin: 0;
  padding: 0 0 0 25px;
  position: relative;
}
.form__wrapper-file .form__label:before {
  content: "";
  position: absolute;
  background-image: url("../../images/file.svg");
  width: 20px;
  height: 20px;
  display: block;
  left: 0;
  top: -3px;
  background-size: 100% 100%;
}
.form__wrapper-file .form__label.upload-file:after {
  content: "";
  position: absolute;
  background-image: url("../../images/check-mark.svg");
  width: 20px;
  height: 20px;
  display: block;
  right: -30px;
  top: -5px;
  background-size: 100% 100%;
}
.form__input, .form__textarea {
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid #000;
}
.form__input[readonly], .form__textarea[readonly] {
  cursor: default;
  border-bottom: 1px solid #fff;
}
.form__input[readonly]:focus, .form__textarea[readonly]:focus {
  border-bottom: 1px solid #fff;
}
.form__input:focus, .form__textarea:focus {
  border-bottom: 1px solid #b90000;
}
@media (max-width: 768px) {
  .form__input, .form__textarea {
    padding: 2px 5px;
  }
}
.form__input[type=file], .form__textarea[type=file] {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active, .form__textarea:-webkit-autofill, .form__textarea:-webkit-autofill:hover, .form__textarea:-webkit-autofill:focus, .form__textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 15px #fff inset !important;
}
.form__wrapper-buttons {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0 0;
}
.form__wrapper-link {
  display: flex;
  flex-direction: column;
}
.form__submit,
.form .button-add-card {
  background-color: #fff;
  color: #b90000;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 15px;
  border: 2px solid #b90000;
  transition: 200ms;
  font-weight: bold;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.002);
}
.form__submit:hover, .form__submit:active, .form__submit:focus,
.form .button-add-card:hover,
.form .button-add-card:active,
.form .button-add-card:focus {
  background-color: #b90000;
  color: #fff;
}
@media (max-width: 768px) {
  .form__submit,
.form .button-add-card {
    font-size: 14px;
    line-height: 14px;
  }
}
.form__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .25px;
  color: #b90000;
}
.form__link.button {
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}
.form__link.button:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #b90000;
  transition: 300ms;
}
.form__link.button:hover:after, .form__link.button:focus:after {
  width: 100%;
}
@media (max-width: 768px) {
  .form__link.button:after {
    display: none;
  }
}
.form__link:after {
  background-color: #b90000;
}
.form textarea {
  height: 28px;
}
.form .button-visible-password {
  position: absolute;
  right: 0;
  bottom: 7px;
  height: 19px;
  width: 32px;
  background-color: #fff;
  border: none;
  background-image: url("../../images/visiblePassword.svg");
  background-size: 100% 100%;
  transition: 200ms;
}
.form .button-visible-password.button-hidden-password {
  background-image: url("../../images/hiddenPassword.svg");
}
.form .button-visible-password:focus {
  background-color: #d1d1d1;
}
.form-add-card {
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.form-add-card .form__item {
  flex-basis: 19%;
  width: 19%;
}
.form-add-card .form__item:nth-child(3) {
  flex-basis: 9%;
  width: 9%;
}
.form-add-card .form__item:nth-child(4) {
  flex-basis: 29%;
  width: 29%;
}
@media (max-width: 1100px) {
  .form-add-card {
    flex-wrap: wrap;
  }
  .form-add-card .button-add-card {
    flex-basis: 25%;
    margin: 20px 0 0 0;
  }
  .form-add-card .form__item {
    flex-basis: 25%;
    width: 25%;
  }
  .form-add-card .form__item:nth-child(3) {
    flex-basis: 11%;
    width: 11%;
  }
  .form-add-card .form__item:nth-child(4) {
    flex-basis: 35%;
    width: 35%;
  }
}
@media (max-width: 768px) {
  .form-add-card {
    flex-direction: column;
  }
  .form-add-card .form__item,
.form-add-card .form__item:nth-child(3),
.form-add-card .form__item:nth-child(4) {
    flex-basis: 100%;
    width: 100%;
    margin: 30px 0 0 0;
  }
  .form-add-card .button-add-card {
    flex-basis: 100%;
    margin: 30px 0 0 0;
    width: 100%;
  }
}
.form-login-checkin {
  flex-direction: column;
  flex-basis: 50%;
  max-width: 500px;
  margin: 0 auto;
}
.form-login-checkin .form__item {
  flex-basis: 100%;
  margin: 25px 0 0 0;
  padding: 25px 0 0 0;
}
@media (max-width: 768px) {
  .form-login-checkin .form__wrapper-buttons {
    margin: 0;
    flex-wrap: wrap;
  }
  .form-login-checkin .form__item {
    margin: 0 0 30px 0;
    padding: 0;
  }
  .form-login-checkin .form__submit,
.form-login-checkin .form__link {
    margin: 0 0 10px 0;
  }
}
.form.profile__info-form .form__item {
  width: 100%;
  margin: 0 0 40px 0;
  flex-basis: 0;
}
@media (max-width: 768px) {
  .form.profile__info-form .form__item {
    margin: 0 0 20px 0;
  }
}
.form.profile__info-form .form__wrapper-buttons {
  margin: auto 0 0 0;
}
.form-change-password, .form-set-password {
  flex-direction: column;
}
.form-change-password .form__item, .form-set-password .form__item {
  margin: 0 0 30px 0;
}
.form-change-password .form__submit, .form-set-password .form__submit {
  max-width: fit-content;
  margin: 0 auto;
}
.form-change-avatar {
  flex-direction: column;
}
.form-change-avatar .form__item {
  flex-basis: 100%;
}

.success-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-result__text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
.success-result .form__submit {
  margin: 30px 0 0 0;
}

.massage-error {
  margin: 20px 0 0 0;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #b90000;
  font-size: 14px;
  text-align: center;
  color: #b90000;
  font-weight: bold;
  line-height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.massage-error:before {
  content: "!";
  position: absolute;
  left: 10px;
  font-size: 40px;
}

.cards {
  width: 102%;
  margin: 0 0 0 -1%;
}
@media (max-width: 768px) {
  .cards {
    width: 104%;
    margin: 0 0 0 -2%;
  }
}
.cards-container-empty {
  margin: 20px 10px;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
}
@media (max-width: 768px) {
  .cards-container-empty {
    font-size: 16px;
    line-height: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
  box-shadow: 2px 2px 6px #b7b7b7;
  padding: 20px;
  margin: 15px 1%;
  position: relative;
}
.card__title {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 10px 0;
}
.card__category {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin: 10px 0 20px 0;
  font-family: "Montserrat", sans-serif;
}
.card__bottom {
  margin: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.card__button-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #b90000;
  border: none;
  background-image: url("../../images/delete.svg");
  background-size: 67%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
  transition: 100ms;
}
.card__button-delete.visible {
  opacity: 1;
  z-index: 1;
}
.card__button-delete.visible:hover, .card__button-delete.visible:focus {
  opacity: 0.75;
}
.card__sum {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #b90000;
}
.card__date {
  font-size: 14px;
  line-height: 14px;
  color: #828282;
}
.card__more-details {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  cursor: pointer;
  transition: 200ms ease-in;
}
.card__description {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  background-color: #b90000;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  z-index: -1;
  opacity: 0;
  transition: 200ms ease-in;
}
.card__description p {
  margin: 0;
}
.card__description .card__more-details {
  margin: auto 0 0 0;
  color: #fff;
}
.card.open .card__description {
  z-index: 2;
  opacity: 1;
}
@media (max-width: 768px) {
  .card {
    flex-basis: 46%;
    margin: 7px 2%;
    padding: 10px;
  }
  .card__title {
    font-size: 14px;
    line-height: 18px;
  }
  .card__category {
    font-size: 12px;
  }
  .card__sum {
    font-size: 14px;
    line-height: 14px;
  }
  .card__date {
    font-size: 12px;
    line-height: 12px;
  }
  .card__more-details {
    font-size: 10px;
    line-height: 10px;
  }
}

.button-open-popup-add-card {
  display: none;
  position: fixed;
  left: 0;
  border: none;
  background-color: #000;
  width: 40px;
  height: 30px;
  z-index: 3;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/plus.svg");
  top: 110px;
}
@media (max-width: 768px) {
  .button-open-popup-add-card {
    display: block;
  }
}

.button-delete-card {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #000;
  background-image: url("../../images/delete.svg");
  background-size: 70% 70%;
  height: 60px;
  width: 60px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.button-delete-card:focus, .button-delete-card:hover {
  background-color: #b90000;
}
@media (max-width: 768px) {
  .button-delete-card {
    height: 40px;
    width: 40px;
  }
}

.creation-card .close {
  display: none;
}

@media (max-width: 768px) {
  .creation-card {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    transition: 200ms;
    padding: 30px;
    width: 100%;
  }
  .creation-card .subtitle {
    margin: 0;
  }
  .creation-card.creation-card_open {
    z-index: 4;
    opacity: 1;
  }
  .creation-card .close {
    display: block;
  }
}
.profile {
  display: flex;
  align-items: flex-start;
  flex-basis: 100%;
}
.profile__image {
  flex-basis: 35%;
  margin: 0 5% 0 0;
  max-width: 400px;
}
.profile__image div {
  width: 100%;
}
.profile__info-form {
  flex-basis: 45%;
  flex-direction: column;
}
.profile__wrapper-buttons {
  display: flex;
  margin: 50px 0 0 0;
}
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .profile__image {
    flex-basis: 100%;
    margin: 0 0 20px 0;
    max-width: 100%;
    width: 100%;
  }
  .profile__info-form {
    flex-basis: 100%;
    width: 100%;
  }
  .profile__wrapper-buttons {
    flex-direction: column;
    margin: 20px 0 0 0;
  }
}

.button-edit-profile,
.button-change-password,
.button-logout,
.button-change-avatar,
.button-category,
.button-delete-profile {
  background-color: #fff;
  color: #b90000;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 15px;
  border: 2px solid #b90000;
  transition: 200ms;
  font-weight: bold;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.002);
  margin: 0 20px 0 0;
}
.button-edit-profile:hover, .button-edit-profile:active, .button-edit-profile:focus,
.button-change-password:hover,
.button-change-password:active,
.button-change-password:focus,
.button-logout:hover,
.button-logout:active,
.button-logout:focus,
.button-change-avatar:hover,
.button-change-avatar:active,
.button-change-avatar:focus,
.button-category:hover,
.button-category:active,
.button-category:focus,
.button-delete-profile:hover,
.button-delete-profile:active,
.button-delete-profile:focus {
  background-color: #b90000;
  color: #fff;
}
@media (max-width: 768px) {
  .button-edit-profile,
.button-change-password,
.button-logout,
.button-change-avatar,
.button-category,
.button-delete-profile {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 768px) {
  .button-edit-profile,
.button-change-password,
.button-logout,
.button-change-avatar,
.button-category,
.button-delete-profile {
    margin: 0 0 20px 0;
  }
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  transform: translateY(-100vh);
  cursor: pointer;
}
.modal-window.open {
  transform: rotateY(0);
}
.modal-window__block {
  transition: 300ms;
  width: 500px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  cursor: default;
}
@media (max-width: 768px) {
  .modal-window {
    top: 60px;
    height: calc(100vh - 60px);
  }
  .modal-window__block {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
.modal-window__title {
  color: #b90000;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin: 0 0 30px 0;
}