@mixin buttonRed {
  background-color: $colorWhite;
  color: #b90000;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 15px;
  border: 2px solid $colorRed;
  transition: 200ms;
  font-weight: bold;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2%);

  &:hover,
  &:active,
  &:focus {
    background-color: $colorRed;
    color: $colorWhite;
  }

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 14px;
  }
}

@mixin buttonMobileOpen {
  display: none;
  position: fixed;
  left: 0;
  border: none;
  background-color: $colorBlack;
  width: 40px;
  height: 30px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}