@mixin buttonRed {
  background-color: $colorWhite;
  color: $colorRed;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 15px;
  border: 2px solid $colorRed;
  transition: 200ms;
  font-weight: bold;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2%);

  &:hover,
  &:active,
  &:focus {
    background-color: $colorRed;
    color: $colorWhite;
  }

  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 14px;
  }

  &.disabled {
    display: block;
    color: $colorGrey;
    border: 2px solid $colorGrey;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background-color: $colorWhite;
      color: $colorGrey;
    }
  }
}

@mixin buttonMobileOpen {
  display: none;
  position: fixed;
  left: 0;
  border: none;
  background-color: $colorBlack;
  width: 40px;
  height: 30px;
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin scroll {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $colorGrey;
    outline: none;
  }
}
