.form {
  display: flex;

  &__item {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 0 40px 0;
    position: relative;
  }

  &__label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    margin: 0 0 5px 5px;
    font-family: 'Montserrat-SemiBold', sans-serif;

    &.label-checkbox {
      display: flex;
      margin: 0;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid $colorGreen;
        display: block;
        margin: 0 10px 0 0;
        cursor: pointer;
      }
    }

    @include breakpoint(mobile) {
      font-size: 14px;
      line-height: 14px;
    }

    &.required {
      &:after {
        content: "*";
        color: $colorRed;
        margin: 0 0 0 3px;
      }
    }
  }

  &__notice {
    color: #a1a1a1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 0 0 3px;
  }

  &__wrapper-file {
    padding: 10px;
    border: 2px solid black;
    height: 50px;
    margin: 0 0 50px 0;
    position: relative;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;

    .form__notice {
      display: block;
      position: absolute;
      bottom: -24px;
    }

    .form__label {
      margin: 0;
      padding: 0 0 0 25px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background-image: url("../../images/file.svg");
        width: 20px;
        height: 20px;
        display: block;
        left: 0;
        top: -3px;
        background-size: 100% 100%;
      }

      &.upload-file {
        &:after {
          content: "";
          position: absolute;
          background-image: url("../../images/check-mark.svg");
          width: 20px;
          height: 20px;
          display: block;
          right: -30px;
          top: -5px;
          background-size: 100% 100%;
        }
      }
    }
  }

  &__input,
  &__textarea {
    padding: 5px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid $colorBlack;
    background-color: $colorWhite;
    width: 100%;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.3px;

    &[readonly] {
      cursor: default;
      border-bottom: 1px solid $colorWhite;

      &:focus {
        border-bottom: 1px solid $colorWhite;
      }
    }

    &:focus {
      border-bottom: 1px solid $colorRed;
    }

    @include breakpoint(mobile) {
      padding: 2px 5px;
    }

    &[type="file"] {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 15px $colorWhite inset !important;
    }

    &_checkbox {
      position: absolute;
      width: 20px;
      height: 20px;
      appearance: none;
      padding: 0;
      margin: 0;
      border-radius: 2px;
      cursor: pointer;

      &:checked {
        & + .form__label {
          &:before {
            background-image: url("../../images/check-mark.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 80%;
          }
        }
      }
    }
  }

  &__select {
    > div:nth-child(2) {
      border: none;
      padding: 0 0 0 5px;
      font-size: 14px;
      line-height: 22px;
      border-bottom: 1px solid $colorBlack;
      border-radius: 0;
      min-height: 30px;
      cursor: pointer;

      > div {
        padding: 0;

        > div {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  &__wrapper-buttons {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 0;
  }

  &__wrapper-link {
    display: flex;
    flex-direction: column;
  }

  &__submit,
  .button-add-card,
  .button-create-report {
    @include buttonRed;
  }

  .button-add-card {
    margin: 0 0 40px 0;
  }

  .button-create-report {
    &:first-child {
      margin: 0 30px 0 0;
    }
  }

  &__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .25px;
    color: $colorRed;

    &.button {
      background-color: $colorWhite;
      border: none;
      padding: 0;
      margin: 10px 0 0 0;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1.5px;
        background-color: $colorRed;
        transition: 300ms;
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }

      @include breakpoint(mobile) {
        &:after {
          display: none;
        }
      }
    }

    &:after {
      background-color: $colorRed;
    }
  }

  textarea {
    height: 28px;
  }

  .button-visible-password {
    position: absolute;
    right: 0;
    bottom: 7px;
    height: 19px;
    width: 32px;
    background-color: $colorWhite;
    border: none;
    background-image: url("../../images/visiblePassword.svg");
    background-size: 100% 100%;
    transition: 200ms;

    &.button-hidden-password {
      background-image: url("../../images/hiddenPassword.svg");
    }

    &:focus {
      background-color: #d1d1d1;
    }
  }

  &-chart {
    flex-direction: column;
    align-items: baseline;
    flex-basis: 50%;
    max-width: calc(90% - 400px);
    margin: 0 10% 0 0;

    @include breakpoint(tablet) {
      margin: 0 0 50px 0;
      max-width: 100%;
      flex-basis: 100%;
      width: 100%;
    }

    .form__wrapper-buttons {
      margin: 0;
    }
  }

  &-add-card {
    justify-content: space-between;
    align-items: end;
    flex-basis: 100%;
    flex-wrap: wrap;

    .form__item {
      flex-basis: 19%;
      width: 19%;

      &:nth-child(3) {
        flex-basis: 9%;
        width: 9%;
      }

      &:nth-child(4) {
        flex-basis: 29%;
        width: 29%;
      }
    }

    @include breakpoint(tablet) {
      flex-wrap: wrap;

      .button-add-card {
        flex-basis: 25%;
        margin: 20px 0 0 0;
      }

      .form__item {
        flex-basis: 25%;
        width: 25%;

        &:nth-child(3) {
          flex-basis: 11%;
          width: 11%;
        }

        &:nth-child(4) {
          flex-basis: 35%;
          width: 35%;
        }
      }
    }

    @include breakpoint(mobile) {
      flex-direction: column;

      .form__item,
      .form__item:nth-child(3),
      .form__item:nth-child(4) {
        flex-basis: 100%;
        width: 100%;
        margin: 30px 0 0 0;
      }

      .button-add-card {
        flex-basis: 100%;
        margin: 30px 0 0 0;
        width: 100%;
      }
    }
  }

  &-login-checkin {
    flex-direction: column;
    flex-basis: 50%;
    max-width: 500px;
    margin: 0 auto;

    .form__item {
      flex-basis: 100%;
      margin: 25px 0 0 0;
      padding: 25px 0 0 0;
    }

    @include breakpoint(mobile) {
      .form__wrapper-buttons {
        margin: 0;
        flex-wrap: wrap;
      }

      .form__item {
        margin: 0 0 30px 0;
        padding: 0;
      }

      .form__submit,
      .form__link {
        margin: 0 0 10px 0;
      }

    }
  }

  &-add-category {
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 0;
    overflow-y: hidden;
    visibility: hidden;
    padding: 0;
    transition: 150ms;

    .form__item {
      margin: 0;
      flex-basis: calc(100% - 50px);
    }

    &.open {
      height: 100%;
      padding: 30px 0;
      visibility: visible;
    }

    .button-edit-profile {
      flex-basis: 50px;
    }
  }

  &.profile__info-form {
    .form__item {
      width: 100%;
      flex-basis: 0;

      @include breakpoint(mobile) {
        margin: 0 0 20px 0;
      }
    }

    .form__wrapper-buttons {
      margin: auto 0 0 0;
    }
  }

  &-change-password,
  &-set-password {
    flex-direction: column;

    .form__item {
      margin: 0 0 30px 0;
    }

    .form__submit {
      max-width: fit-content;
      margin: 0 auto;
    }
  }

  &-change-avatar {
    flex-direction: column;

    .form__item {
      flex-basis: 100%;
    }
  }
}

.success-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
  }

  .form__submit {
    margin: 30px 0 0 0;
  }
}

.massage-error {
  margin: 20px 0 0 0;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid $colorRed;
  font-size: 14px;
  text-align: center;
  color: $colorRed;
  font-weight: bold;
  line-height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "!";
    position: absolute;
    left: 10px;
    font-size: 40px;
  }
}
