.header {
	display: flex;
	flex-basis: 100%;
	background-color: $colorBlack;
	justify-content: space-between;
	padding: 10px 40px;
	height: 110px;

	&__photo {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin: 0 0 0 15px;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

		img {
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&__profile {
		display: flex;
		align-items: center;

		&_hidden {
			display: none;
		}

		&:hover {
			.header__name a:after {
				width: 100%;
			}
		}
	}

	&__name {
		a {
			color: $colorWhite;
			font-size: 18px;
			line-height: 20px;

			&:after {
				background-color: $colorWhite;
			}
		}
	}

	.logo {
		flex-basis: 250px;
	}

	@include breakpoint(mobile) {
		padding: 10px;
		height: 60px;

		.logo {
			flex-basis: 140px;
		}

		&__photo {
			width: 40px;
			height: 40px;
			margin: 0 0 0 10px;
		}

		&__name a {
			font-size: 12px;
			line-height: 12px;
		}
	}
}
