.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  transform: translateY(-100vh);
  cursor: pointer;

  &.open {
    transform: rotateY(0);
  }

  &__block {
    transition: 300ms;
    width: 500px;
    background-color: $colorWhite;
    padding: 30px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: default;

    @include breakpoint(mobile) {
      width: 100%;
      height: 100vh;
      box-shadow: none;
    }
  }

  &__title {
    color: $colorRed;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin: 0 0 30px 0;
  }
}