.profile {
  display: flex;
  align-items: flex-start;
  flex-basis: 100%;

  &__image {
    margin: 0 50px 0 0;
    max-width: 400px;
    max-height: 400px;
    height: 400px;
    width: 400px;

    img {
      height: 100% !important;
      object-fit: cover;
    }

    div {
      width: 100%;
    }
  }

  &__info-form {
    flex-basis: calc(100% - 450px);
    flex-direction: column;
  }

  &__wrapper-buttons {
    display: flex;
    margin: 50px 0 0 0;
  }

  @include breakpoint(mobile) {
    flex-direction: column;

    &__image {
      margin: 0 0 20px 0;
      max-width: 100%;
      width: 100%;
    }

    &__info-form {
      flex-basis: 100%;
      width: 100%;
    }

    &__wrapper-buttons {
      flex-direction: column;
      margin: 20px 0 0 0;
    }
  }
}

.button-edit-profile,
.button-change-password,
.button-logout,
.button-change-avatar,
.button-delete-profile {
  @include buttonRed;
  margin: 0 20px 0 0;

  @include breakpoint(mobile) {
    margin: 0 0 20px 0;
  }
}
