.report-container {
  display: flex;
  flex-basis: 100%;
  margin: 80px 0 0 0;

  @include breakpoint(tablet) {
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }

  .ct-label {
    fill: $colorWhite;
    color: $colorWhite;
    font-weight: bold;
  }

  .report {
    width: 400px;

    @include breakpoint(tablet) {
      width: 100%;
    }
  }
}